.movie-portal {
    font-size: 20px;
    text-align: center;
}
.movie-row{
    margin-left: 20%;
    font-size: 20px;
}
p-info{
    font-size: 20px;
    text-align: center;
}
.movie-info-container{
    margin:unset;
}
.director {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;

}
.movie-title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    
}
.movie-title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    
}
.last-online {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    
}
.posts{
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    
}
.age {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    
}
.location {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    
}
.username {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    
}
.date {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    

}
.runtime {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;


}
.genre {
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
  
}
.rating {
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
  
}
.cast {
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
  
}
.plot{
    padding-bottom: 22px;
    font-size: 18px;
    text-align: center;
    word-wrap: break-word;


}
.director-link{
    font-size: 20px;
}

.reviews {
    font-size: 15px;

}
.actor-link{
    font-size: 20px;
}

.button_followed {
    background-color: blue;
    padding: 12px 25px;
    font-size: 18px;
    display: inline-block;
}
.button_notFollowed{
    
    background-color: red;
    padding: 12px 25px;
    font-size: 18px;
    display: flex;

}
.p-heading{
    margin:unset;
    font-size: 25px;

}